venv
logs
.env

.pycache
.DS_Store
.ipynb_checkpoints
*.csv
*.csv.gz
*.parquet
parquet
*.log

gcp-de-zoomcamp-sa.json
data-engineering-zoomcamp-dbt-keys.json

terraform.*
.terraform.lock.hcl
.terraform
